@font-face {
    font-family: 'Vision'; 
    src: url('fonts/Vision.otf') format('opentype'); 
}
@font-face {
    font-family: 'Vision-Bold'; 
    src: url('fonts/Vision-Bold.otf') format('opentype'); 
}


.home {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about{
    align-items: center;
    text-align: center;
}

img{
    width: 70%;
    height: auto;
}

body{
    background-color: #f8fdf2;
    font-family: "Vision";
    margin: 0;
}
nav{
    background-color: #96de2b;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    font-size: 30px;
    font-family: "Vision-Bold";
}

h1{
    margin-bottom: 30px;
    font-size: 40px;
}

#about_para{
    max-width:50%;
    margin: 0 auto;
    font-size: 20px;
}

.section{
    margin-block: 30px;
}

.heading{
    font-size: 40px;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.serv{
    box-sizing: border-box;
    padding: 20px;
    margin:10px;
    width: calc((100% / 3) - 20px);
    min-height: 70px;
    background-color: #def5bd;
    border: 4px solid black;
    box-shadow: 2px 2px 2px 2px #96de2b;
    border-radius: 7px;
}

#serv-head2{
    width: 100%;
    text-align: center;
}

#serv-head3{
    text-align: center;
}

.carousel{
    position: relative;
    height: 600px;
    width: 88%;
    margin: 0 auto;
}

.carousel-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container{
    position: relative;
    background-color: #96de2b;
    height: 100%;
    overflow: hidden;
}

.carousel-track{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    position: relative;
}

.slides{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 25px;
}

.prev{
    left: -40px
}

.next{
    z-index: 1;
    right: -40px;
}

.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(0,0,0,0.3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel-indicator.currentSlide{
    background: rgb(0,0,0,0.75);
}

.is-hidden{display: none;}